body {
  background: #222F3E;
  height: 100vh;
  width: 100vw;
}
body header {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  background-color: rgba(46, 134, 222, 0.5215686275);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body header .headerSpacing {
  height: 8vh;
  width: auto;
  display: flex;
  align-items: center;
}
body header .logo {
  height: 10vh;
  width: 15.625vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C8D6E5;
}
body header .logo img {
  height: 10.5vh;
  width: 15.625vw;
}
body header button {
  right: 1vw;
  min-width: 5vw;
  height: 3vh;
  border: 0;
  border-radius: 100px;
  background-color: #54A0FF;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
body header button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px rgba(111, 197, 255, 0.3137254902);
  transform: scale(1.1);
  cursor: pointer;
}
body header button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
  cursor: pointer;
}
body header .accountPopUp {
  visibility: hidden;
  z-index: 10;
  position: fixed;
  top: 20vh;
  height: 60vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0;
  border-radius: 20px;
  background-color: #2E86DE;
  color: white;
  padding: 0 0 1vh 0;
}
body header .accountPopUp #closeDialog {
  background-color: #ee5253;
  color: black;
  align-self: flex-end;
  border-radius: 0 20px 0 0;
}
body header .accountPopUp form {
  height: 40vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body header .accountPopUp form .username {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body header .accountPopUp form .password {
  width: 15vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
body header .accountPopUp form #submitUserPass {
  background-color: #10ac84;
}
body header .accountPopUp #logoutBtn {
  background-color: #ff9f43;
}
body .wrapper {
  position: relative;
  top: 10vh;
}
body .wrapper .newArticle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4vh;
}
body .wrapper .newArticle #standard {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
body .wrapper .newArticle #standard input {
  width: 20vw;
  background-color: #C8D6E5;
  border-radius: 5px;
}
body .wrapper .newArticle #standard #articleText {
  width: 60vw;
  height: 20vh;
  background-color: #C8D6E5;
  border-radius: 10px;
}
body .wrapper .newArticle #newSections {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
body .wrapper .newArticle #newSections #articleHeader {
  width: 20vw;
  background-color: #C8D6E5;
  border-radius: 5px;
}
body .wrapper .newArticle #newSections #articleSection {
  width: 60vw;
  height: 20vh;
  background-color: #C8D6E5;
  border-radius: 10px;
}
body .wrapper .newArticle #buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body .wrapper .newArticle #buttons button {
  height: 3vh;
  border: 0;
  border-radius: 150px;
  background-color: #54A0FF;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
body .wrapper .newArticle #buttons button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px rgba(111, 197, 255, 0.3137254902);
  transform: scale(1.1);
  cursor: pointer;
}
body .wrapper .newArticle #buttons button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
  cursor: pointer;
}

body .wrapper #errorMessage {
  color: #ff6b6b;
}

@media screen and (max-width: 1400px) {
  form {
    height: 45vh;
  }

  form .username {
    flex-direction: column;
  }

  form input {
    width: 95%;
  }
}

/*# sourceMappingURL=addArticle.css.map */
