$backgroundImage: "WebAppFront/resources/archives-background.png"
$pageBackground: #222F3E
$loginBackground: #C8D6E5
$textField: #D9D9D9
$signUpLink: #54A0FF

body
  background-color: $pageBackground

