//colors
$pageBackground: #222F3E
$pageItemsBackground: #C8D6E5
$textField: #D9D9D9
$signUpLink: #54A0FF
$buttonHover: #6fc5ff
$buttonHoverOpacity: #6fc5ff50
$buttonActive: #3d94cf
$topBottomBackground: #2E86DE85
$closeButton: #ee5253
$changeButtonColor: #576574
$accountPopUP: #2E86DE
$submitBothButton: #10ac84
$logOutButton: #ff9f43
$errorMessages: #ff6b6b

